@import "default";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkbox {
  input {
    position: relative;
    top: -1px;
  }
}

.wrap {
  margin: 0 20px;

  @include lg {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 992px;
  }
}

header {
  text-align: center;

  h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 2em;
    text-transform: uppercase;
  }
}

.filters {
  @include sm {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  input[type="text"] {
    font-size: 1em;
    padding: 5px;
    width: 100%;
  }

  .sub-filters {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;

    div {
      &:last-child {
        @include sm {
          margin-left: 20px;
        }
      }
    }
  }
}

.list {
  margin-top: 20px;
  h2 {
    font-size: 1.1em;
    margin: 10px 0;
  }

  ul {
    list-style: none;
    margin: 0 -3% 0 0;
    padding: 0;
    font-size: 0.8em;

    @include sm {
      margin-right: -2%;
    }

    @include md {
      margin-right: -1.6%;
    }

    @include md {
      margin-right: -1.5%;
    }
  }

  li {
    margin: 0 0 10px;
    padding: 10px 0;
    width: 30%;
    margin-right: 3%;
    display: inline-block;
    text-align: center;
    background-color: #eee;

    @include sm {
      width: 23%;
      margin-right: 2%;
    }

    @include md {
      width: 15%;
      margin-right: 1.6%;
    }

    @include lg {
      width: 11%;
      margin-right: 1.5%;
    }
  }

  img {
    max-height: 35px;
    display: block;
    margin: 0 auto 5px;
  }
}
